<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <style>
            * {box-sizing: border-box;}

            .pagination-box {
            display:flex;
            align-items:center;
            justify-content: center;
            text-align:center;
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 30px;
            }
    
            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    
    </head>
<body>

{% extends "header.html" %}

{% block content %}
<br><br><br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Stars</th>
            <th>Description</th>
            <th>Link</th>
            <th>Bookmark</th>
        </tr>
    </thead>
    <tbody>
        {% for repo in repos %}
            <tr>
                <td style="max-width: 150px;"><strong>{{ repo.name }}</strong></td>
                <td>{{ repo.stars }}</td>
                <td style="max-width: 600px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ repo.description }}</td>
                <td><a href="{{ repo.link }}" target="_blank">Github Repo</a></td>
                <td>
                    <form action="/repo_explorer?page={{ page }}" method="POST">
                    <input type="submit" name="bookmark" value="{% if repo.id in bookmarks %}Unbookmark{% else %}Bookmark{% endif %}">
                    <input type="hidden" name="id" value="{{ repo.id }}">
                    <input type="hidden" name="name" value="{{ repo.name }}">
                    <input type="hidden" name="link" value="{{ repo.link }}">
                    <input type="hidden" name="description" value="{{ repo.decription }}">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination-box">
    {% if page > 1 %}
        <a href="{{ url_for('github', page=page-1) }}">Previous</a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;
    <span>Page {{ page }} of {{ pagination.pages }}</span>
    &nbsp;&nbsp;&nbsp;
    {% if page < pagination.pages %}
        <a href="{{ url_for('github', page=page+1) }}">Next</a>
    {% endif %}
</div>

{% endblock %}
    
</body>
</html>